.button{
  padding: 20px;
}
.login {
	box-shadow: 0px 14px 8px -4px #276873;
	background:linear-gradient(to bottom, #192a56 5%, #408c99 100%);
	background-color:#192a56;
	border-radius:15px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	font-style:italic;
	padding:10px 26px;
	text-decoration:none;
	text-shadow:0px 5px 0px #3d768a;
}
.login:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.login:active {
	position:relative;
	top:1px;
}
